@using LawOffice05.Core.Models.Case
@model AllCasesQueryModel

@{
    ViewData["Title"] = "All Cases Page";
}

<form method="get">
    <div class="row">

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="CaseDescription"></label>
                <select asp-for="CaseDescription" class="form-control">
                    <option value="">All</option>

                    @foreach (var caseDescr in Model.CaseDescriptions)
                    {
                        <option value="@caseDescr">@caseDescr</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Put your serach term here...">
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    @*<option value="" selected disabled>choose how the sorting to be done...</option>*@
                    <option value="0" selected>Case Number</option>
                    <option value="1">Case Description</option>
                    <option value="2">Client Name</option>
                </select>
            </div>
        </div>
    </div>


    <br />

    @*<div class="form-group col-md-4">
        <label asp-for="SearchTerm"></label>
        <input asp-for="SearchTerm" class="form-control" placeholder="Put your serach term here...">
        </div>*@
    <div class="form-group col-md-4">
        <input type="submit" calss="btn btn-primary d-none" value="Search / Sorting" />
    </div>

    <br />

</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    
    var maxPage = Math.Ceiling((double)Model.TotalCases / AllCasesQueryModel.CasesPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Case"
           asp-action="AllCases"
           asp-route-currentPage="@previousPage"
           asp-route-caseDescription="@Model.CaseDescription"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Case" 
           asp-action="AllCases"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-caseDescription="@Model.CaseDescription"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

@*<div class="row">
    <div class="col-md-6">
        <a asp-controller="Case" asp-action="AllCases" asp-route-currentPage="@(Model.CurrentPage - 1)">Previous</a>
    </div>
    <div class="col-md-6">
        <a asp-controller="Case" asp-action="AllCases" asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
    </div>
</div>*@


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>InsideCaseNumber</th>
            <th>InsideCaseName</th>
            <th>ClientName</th>
            <th>CaseDescription</th>
            <th>Supervisor</th>
            <th>Take Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var theCase in Model.Cases)
        {
            <tr>
                <td>@theCase.InsideCaseNumber</td>
                <td>@theCase.InsideCaseName</td>
                <td>@theCase.ClientName</td>
                <td>@theCase.CaseDescription</td>
                <td>@theCase.SupervisorName</td>
                <td>
                    <a asp-action="ClientInfo" asp-controller="case" asp-route-id="@theCase.CaseId" class="btn btn-block btn-outline-info btn-xs">Client info</a>
                    <a asp-action="ClientInfo" asp-controller="case" asp-route-id="@theCase.CaseId" class="btn btn-block btn-outline-info btn-xs">Add Instance</a>
                </td>
            </tr>
        }
    </tbody>
</table>